.blogs .blogItem {
  margin: 15px 0;
}
.blogItem p {
  max-width: 40vw;
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}

.btn {
  margin: 10px 0;
  color: white;
  background: rgb(34,34,34);
  padding: 7px 6px;
  border-radius: 6px;
  cursor: pointer;
}

.h3 {
  margin: 10px 0;
}